:root {
    --width-no-scrollbar: calc(100vw - 17px); /* scrollbar width seems to be 17px */
    --image-width: 30vw;
    --gap: calc((var(--width-no-scrollbar) - 3*var(--image-width)) / 4);
}

html {
    background-color: black;
}

body {
    margin: 0;
    padding: var(--gap);
}

.row {
    display: flex;
    gap: var(--gap);
    justify-content: center;
    align-items: flex-start; /* needed for accurate column height measurements in main.js */
}

.column {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.img_container {
    cursor: pointer;
}

img {
    width: var(--image-width);
    outline: 0px solid transparent; /* so it will transition */
    transition: all 0.5s;
    animation: fade_in 1s;
}

.img_container:hover img {
    transform: scale(0.95);
    outline: calc(0.025*var(--image-width)) solid white;
}

@keyframes fade_in {
    from {opacity: 0;}
    to {opacity: 1;}
}